<a href="https://colab.research.google.com/github/swapnalimalage/Basics-of-python/blob/main/Hypothesis_testing_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from scipy import stats as stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [2]:
cutlet= pd.read_csv(r'/content/Cutlets.csv')### r to read the dataset

In [3]:
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
df = pd.DataFrame(cutlet, columns =['Unit A', 'Unit B'])

In [5]:
dfn =df.dropna()

In [6]:
df1 = dfn['Unit A']
df2 = dfn['Unit B']
df = df1-df2
df

0     0.0387
1    -1.0717
2     0.1857
3     0.5134
4     0.2966
5     0.5761
6    -0.3457
7     0.4015
8    -0.5562
9    -0.2267
10    0.5120
11    0.1110
12    0.1594
13    0.8876
14   -0.5784
15   -0.1846
16   -0.0702
17   -0.1609
18   -0.0242
19    0.6017
20    0.0549
21   -0.2660
22    0.0124
23    0.1166
24    0.2358
25   -0.0831
26    0.2030
27   -0.2381
28    0.6085
29   -0.4607
30   -0.3198
31    0.1603
32    0.4596
33    0.8163
34   -0.4470
dtype: float64

In [7]:
_,p_value = stats.ttest_rel(a= df1,b= df2) # related value of unit A and B

In [8]:
print(p_value)

0.45623007680384076

In [9]:
if p_value <0.05: # alpha is 5% significant level i.e 0.05
    print("we are rejecting all null hypothesis")
else:
    print("we are accepting all null hypothesis")

we are accepting all null hypothesis